.title {
  margin: 0 0 20px 48%;
  padding: 20% 0 0 0;
  font-size: 40px;
}

.riskBack {
  background-image: url("../back.jpg");
  height: 800px;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1400px;
}

.textfields {
  margin: 0px 0 20px 40%;
}
