.boardContainer {
  .map {
    background-repeat: no-repeat;
    height: 821px;
    width: 1440px;
    display: block;
  }
}

.riskButton {
  margin-left: 50%;
  padding: 11px 16px;
  border: 2px solid green;
}

.riskButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: #4caf50; /* Green */
  color: white;
}

.riskButton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.title {
  margin: 150px 0 20px 50%;
  font-size: 150%;
}

.textfields {
  margin: 0px 0 20px 40%;
}

.field {
  width: 100%;
  border-radius: 4px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
}

.field input::placeholder {
  color:#999;
}

.field input {
  width: 40%;
  border: 2px solid gray;
  background: none;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 8px 12px;
  outline: 0;

  &:focus {
    border-color: #06cdf0;
  }

  &:focus + label {
    background: #06cdf0;
    color: white;
    font-size: 70%;
    padding: 1px 6px;
    z-index: 2;
    text-transform: uppercase;
    
  }
}

.field label {
  position: absolute;
  color: white;
  padding: 7px 6px;
  top: 0px;
  bottom: 0;
  left: 0;
  width: 40%;
}

.field input:focus {
  padding: 4px 6px 20px 6px;
}

.field input:focus + label {
  top: 100%;
  margin-top: -16px;
}
