.boardContainer {
    .map {
        background-image: url('../../assets/risk_map.svg');
        background-repeat: no-repeat;
        height: 821px;
        width: 1440px;
        display: block;
        
    }
}
