.boardContainer {
    .map {
        background-image: url('../../assets/risk_map.svg');
        background-repeat: no-repeat;
        height: 821px;
        width: 1440px;
        display: block;
        
    }
}
#alberta {
    animation: wheel 1s ease;
}
@keyframes wheel {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}
