.map_container {
    svg {
        path {
            cursor: pointer;
        }
    }
    width: 720px;
    background-color: #88b6da;
    border-radius: 10px;
    position: absolute;
    bottom: 100px;
    right: 125px;
}
#eastern_australia,
#western_australia,
#new_guinea,
#indonesia {
    fill: #a31aa6;
}
#india #north_africa,
#south_africa,
#congo,
#north_africa,
#east_africa,
#egypt,
#madagascar {
    fill: #9c7805;
}
#peru,
#argentina,
#brazil,
#venezuela {
    fill: #ea4224;
}
#central_america,
#eastern_united_states,
#western_united_states,
#northwest_territory,
#ontario,
#alberta,
#alaska,
#quebec,
#greenland {
    fill: #d9dd23;
}
#southern_europe,
#western_europe,
#northern_europe,
#great_britain,
#iceland,
#scandinavia,
#ukraine {
    fill: #47c1dc;
}
#middle_east,
#afghanistan,
#india,
#china,
#siam,
#irkutsk,
#mongolia,
#ural,
#siberia,
#yakursk,
#japan,
#kamchatka {
    fill: #89db8c;
}
.main_map {
    position: absolute;
    top: 1px;
    // z-index: 1;
}
.connection_arrows {
    position: absolute;
    top: 44px;
    // z-index: 1000;
    left: 0px;
}
